# Objective 

train model and check which Algorithm has best score

In [3]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
# from sklearn.preprocessing import OneHotEncoder,LabelEncoder,StandardScaler
df = pd.read_csv(r"X:\sir ismail AI course\jupyter data sice\dataset\Stress-Lysis.csv")
df

      Humidity  Temperature  Step count  Stress Level
0        21.33        90.33         123             1
1        21.41        90.41          93             1
2        27.12        96.12         196             2
3        27.64        96.64         177             2
4        10.87        79.87          87             0
...        ...          ...         ...           ...
1996     21.82        90.82          96             1
1997     10.45        79.45          45             0
1998     27.22        96.22         135             2
1999     12.46        81.46          64             0
2000     16.87        85.87          50             1

[2001 rows x 4 columns]

In [4]:
df.describe()

          Humidity  Temperature   Step count  Stress Level
count  2001.000000  2001.000000  2001.000000   2001.000000
mean     20.000000    89.000000   100.141429      1.104448
std       5.777833     5.777833    58.182948      0.771094
min      10.000000    79.000000     0.000000      0.000000
25%      15.000000    84.000000    50.000000      0.000000
50%      20.000000    89.000000   101.000000      1.000000
75%      25.000000    94.000000   150.000000      2.000000
max      30.000000    99.000000   200.000000      2.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Humidity      2001 non-null   float64
 1   Temperature   2001 non-null   float64
 2   Step count    2001 non-null   int64
 3   Stress Level  2001 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 62.7 KB

In [11]:
X = df.drop("Stress Level", axis = 1)
y = df["Stress Level"]

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y, train_size= 0.2, random_state=51)

In [16]:
lr1 = LinearRegression()

In [17]:
lr1.fit(X_train,y_train)

LinearRegression()

In [20]:
lr1.score(X_test,y_test)

0.874719700475922

In [21]:
lr2 = Ridge()

In [22]:
lr2.fit(X_train,y_train)

Ridge()

In [23]:
lr2.score(X_test,y_test)

0.8747172740937152

In [15]:
lr3 = Lasso()

In [24]:
lr3.fit(X_train,y_train)

Lasso()

In [25]:
lr3.score(X_test,y_test)

0.7000224965164198